# Ignore generated or large media files
gifs/
*.gif


# Ignore Python build and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Ignore virtual environment folders
.env/
venv/
.venv/

# Ignore IDE/project metadata
.vscode/
.idea/

# Ignore OS junk files
.DS_Store
Thumbs.db
*.pyc
__pycache__/objects.cpython-311.pyc
__pycache__/pages.cpython-311.pyc
__pycache__/spectral_functions.cpython-311.pyc
__pycache__/tool_dispatcher.cpython-311.pyc
__pycache__/tools.cpython-311.pyc
__pycache__/util_windows.cpython-311.pyc
*.pyc
